In [1]:
import pandas as pd

In [3]:
df = pd.read_feather("C:/Users/Jason/thesis_project/data/obs_datasets/profiles/X/1997_2014meanAH.feather")

In [4]:
df

,ProfileID,date,0,1,2,3,4,5,6,7,...,14,15,16,17,18,19,20,21,22,23
0,3,1997-12-15,4.396250,0.673833,0.801250,0.808667,0.813250,0.802917,0.811750,1.048583,...,0.807417,0.734750,0.730750,0.733833,0.761167,6.857833,8.509500,3.316750,6.862917,0.888250
1,3,1997-12-16,0.668250,0.740333,0.741583,0.799250,0.667583,0.800750,1.310417,5.723500,...,1.881417,7.523250,7.920833,13.833750,7.974583,6.810083,0.838167,0.751833,0.749083,0.750667
2,3,1997-12-17,0.812167,0.751750,1.382000,6.623917,7.606583,9.273083,0.680833,0.818750,...,15.785666,10.799750,12.174083,2.800333,2.352500,0.992833,0.813667,0.747500,0.731800,0.680667
3,3,1997-12-18,0.819167,2.835167,1.289583,10.299250,18.399250,8.888667,10.072917,10.472667,...,1.642833,2.727917,5.839833,5.448583,6.026500,2.498167,3.977833,0.824750,0.826833,0.824500
4,3,1997-12-19,0.748833,0.996000,1.349750,4.972250,15.080083,5.327750,5.113417,0.833917,...,4.022417,3.201750,1.503833,1.257083,2.615583,2.369167,1.901833,0.746000,0.741500,0.739333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3210593,12029092,2014-09-26,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3210594,12029092,2014-09-27,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3210595,12029092,2014-09-28,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3210596,12029092,2014-09-29,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3210597,12029092,2014-09-30,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [ ]:
df = pd.read_feather("C:/Users/Jason/thesis_project/data/obs_datasets/profiles/X/1997_2014meanAH.feather")