In [2]:
import pandas as pd
from dask import dataframe as dd
import numpy as np
import plotly.graph_objects as go
import plotly.offline as po
import plotly.express as px
import os,sys
import json
from array import array

from collections import defaultdict
from scipy.signal import find_peaks
# Insert the path of modules folder 
# sys.path.insert(0, 'C:/Users/Jason/thesis_project')
sys.path.append("../")

from support import *
from features.feature_ts import genX
from experiment.algorithms.cluster_prep import *

### Calculate households ToPs

In [14]:
# from collections import defaultdict

# # Load data
# year_range = [1994, 2014]
# X = genX(year_range, drop_0= True)

# df = X.copy()
# arrayX  = X.to_numpy().copy()
# arrayY = X.to_numpy().copy()

# listYM  = list(map(lambda x : x[:12],arrayY))
# listYA  = list(map(lambda x : x[12:],arrayY))

# arrayYM = np.array(listYM)
# arrayYA = np.array(listYA)

# arrayYM.sort()
# arrayYA.sort()

# dict_M = defaultdict(list)
# dict_A = defaultdict(list)

# X.reset_index(inplace = True)

# for i in range(0,len(arrayX)):
    
#     diff_M = arrayYM[i][len(arrayYM[i])-1] - arrayYM[i][len(arrayYM[i])-2]
#     diff_A = arrayYA[i][len(arrayYA[i])-1] - arrayYA[i][len(arrayYA[i])-2]

#     threshold_M = arrayYM[i][len(arrayYM[i])-1] - diff_M/3
#     threshold_A = arrayYA[i][len(arrayYA[i])-1] - diff_A/3
    
#     # distance = 2

#     indices_M = find_peaks(arrayX[i][0:12], height = threshold_M)[0]
#     indices_A = find_peaks(arrayX[i][12:], height = threshold_A)[0]

#     dict_M[i].append(indices_M) 
#     dict_A[i].append(indices_A)

# ToP_M_df = pd.DataFrame.from_dict(dict_M)
# ToP_A_df = pd.DataFrame.from_dict(dict_A)

# top_M_dict = ToP_M_df.T
# top_A_dict = ToP_A_df.T + 12


# X1 = X.merge(top_M_dict, left_index = True, right_index = True).merge(top_A_dict,left_index = True, right_index = True)
# # X2 = X1.merge(top_A_dict,left_index = True, right_index = True)

# xpath = os.path.join(profiles_dir, 'X', str(year_range[0])+'_'+str(year_range[1])+
#                          "ToPs"+'.feather')

# X1.to_feather(xpath)

dropping all zero rows

### Determine the average peaks value for a household at universal ToPs
##### Universal ToPs = 06:00 i.e. column 5,19:00 i.e. column 18

In [15]:
xpath = os.path.join(profiles_dir, 'X', str(year_range[0])+'_'+str(year_range[1])+
                         "ToPs"+'.feather')

df = pd.read_feather(xpath)

In [16]:
df.head()

,ProfileID,date,0,1,2,3,4,5,6,7,...,16,17,18,19,20,21,22,23,0_x,0_y
0,1,1994-06-18,3.691667,0.800,0.508333,2.183333,0.741667,0.658333,1.991667,0.700000,...,1.666667,3.916667,9.241667,3.275000,6.325000,2.816667,0.925000,2.025000,[10],[18]
1,1,1994-06-19,0.808333,0.500,2.075000,0.691667,0.325000,2.075000,0.691667,0.316667,...,2.358333,1.141667,7.283333,5.391667,6.441667,9.716667,7.500000,0.841667,[10],[21]
2,1,1994-06-20,1.058333,1.625,0.341667,2.100000,1.225000,1.058333,4.808333,4.091667,...,2.116667,5.541667,5.275000,6.533333,4.708333,10.433333,9.508333,4.408333,[6],[21]
3,1,1994-06-21,0.425000,2.350,0.550000,0.291667,2.100000,0.591667,4.066667,2.791667,...,4.016667,1.833333,3.466667,8.875000,10.850000,12.908333,9.241667,2.625000,[6],[21]
4,1,1994-06-22,0.741667,2.325,0.583333,1.191667,1.225000,0.575000,4.066667,3.350000,...,2.791667,6.291667,6.491667,4.458333,13.125000,10.750000,6.200000,1.350000,[10],[20]

In [21]:
arrayYA[0][len(arrayYA[0])-1]

9.24166651566823

In [ ]:
morning_amplitude = arrayYM[i][len(arrayYM[i])-1]

In [22]:
type(arrayYM)

numpy.ndarray